body {
    font-family: 'Vazirmatn', sans-serif;
    padding-bottom: 100px; /* برای جلوگیری از همپوشانی فوتر با محتوا */
}

header {
    background-color: #007bff !important;
}

footer {
    background-color: #343a40 !important;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    width: 100%;
    margin-top: 20px;
}

.social-icon {
    font-size: 1.5em;
    margin: 0 5px; /* فاصله بین آیکون‌ها */
    color: #007bff;
    text-decoration: none; /* حذف خط زیر لینک‌ها */
}

.social-icon:hover {
    color: #0056b3; /* تغییر رنگ هنگام هاور */
}
