body {
    font-family: 'Vazirmatn', sans-serif;
}

header {
    background-color: #007bff !important;
}

footer {
    background-color: #343a40 !important;
}

.card {
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
}